<div class = "container">
<div class="jumbotron">
  <h1 class="display-4">Split-Expenses</h1>
  
  <div class="list-group">
    <h3>Split-Expenses helps you keep track</h3>
    <p class="list-group-item list-group-item-action">1. Daily Expenses</p>
    <p class="list-group-item list-group-item-action">2. Track Recent Activities</p>
    <p class="list-group-item list-group-item-action">3. Manage Expences in group</p>
    <p class="list-group-item list-group-item-action">4. Split Expences</p>
  </div>
  <%= link_to 'Login', new_user_session_path, class:"btn btn-success form-control" %>
  <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-info form-control mt-3" %>
</div>
</div>
