<div class="container list-group text-center">
  <br/><br/><br/>
  <h1>
    <%= link_to 'Show all expenses', expenses_path, class:"text-black list-group-item list-group-item-action list-group-item-primary"%>
  </h1>
  
  <h1>
    <%= link_to 'Add Members to a group', home_external_path, class:"text-black list-group-item list-group-item-action list-group-item-info"%>
  </h1>

  <h1>
    <%= link_to 'Manage a groups', groups_path, class:"text-black list-group-item list-group-item-action list-group-item-success"%>
  </h1>

  <h1>
    <%= link_to 'Other Users Expenses', home_friends_path, class:"text-black list-group-item list-group-item-action list-group-item-warning"%>
  </h1>
  </div>


